
@{
    ViewBag.Title = "Home";
}

<center>
    <h2>Home</h2>
    <div class="row">
       <button class="btn btn-success">Cadastrar</button>
    </div> 
    <div class="row">
       <button class="btn btn-primary">Atualizar</button>
    </div> 
    <div class="row">
       <button class="btn btn-danger">Deletar</button>
    </div>
</center>

