@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


<div class="wrap">
    <input type="text" class="form-control" id="usuario" name="usuario"/>

    <input type="text" class="form-control" id="senha" name="senha"/>

    <button class="btn btn-success"> Login </button>
</div>